.pane {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 99;
}

.layout {
  top: "5vh";
  width: "100vw";
  height: "95vh";
}

.title {
  font-size: 15px;
  text-align: center;
}

.new-random-graph-button {
  text-align: center;
  margin: 5px;
  font-size: 15px;
}

.layout-select-options {
  background-color: whitesmoke;
  text-align: center;
  margin: 5px;
  font-size: 10px;
}

.layout-option {
  text-align: center;
  margin: 5px;
  font-size: 10px;
}

.layout-type-title {
  text-align: center;
  margin: 5px;
  font-size: 10px;
}

.layout-type-container {
  margin: 5px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-container {
  margin: 5px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.node-color-title {
  text-align: center;
  margin: 5px;
  font-size: 10px;
}

.node-color-select-options {
  background-color: whitesmoke;
  text-align: center;
  margin: 5px;
  font-size: 10px;
}

.node-color-option {
  text-align: center;
  margin: 5px;
  font-size: 10px;
}

.edge-size-container {
  margin: 5px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edge-size-title {
  text-align: center;
  font-size: 10px;
}

.edge-size-input {
  text-align: center;
  background-color: whitesmoke;
  margin: 5px;
  font-size: 10px;
}

.edge-probability-container {
  margin: 5px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edge-probability-title {
  text-align: center;
  margin: 5px;
  font-size: 10px;
}

.edge-probability-input {
  text-align: center;
  background-color: whitesmoke;
  margin: 5px;
  font-size: 10px;
}

.acyclic-container {
  margin: 5px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acyclic-title {
  text-align: center;
  margin: 5px;
  font-size: 10px;
}

.acyclic-input {
  text-align: center;
  background-color: whitesmoke;
  margin: 5px;
  font-size: 10px;
}
