.App {
}

.left-pane {
  display: flex;
  flex-basis: 15%;
  background-color: antiquewhite;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.layout {
  flex-grow: 1;
}

.title {
  margin: 15px;
  padding: 15px;
  text-align: center;
  color: rebeccapurple;
}

.new-random-graph-button {
  text-align: center;
  margin: 15px;
  padding: 15px;
  font-size: 20px;
}

.layout-select-options {
  background-color: whitesmoke;
  text-align: center;
  margin: 15px;
  padding: 15px;
  font-size: 20px;
}

.layout-option {
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
}